<h4>Add a new project to your portfolio<h4>
<br>
<br>
<p>
<form method="POST" action="/projects">    
	Project:  
	<label for="name">Name: </label>
	<input type="text" id="name" name="name"placeholder="Name"> 
        <br>
        <br>
	<label for="content">Content: </label>
	<input type="text" id="content" name="content" placeholder="Content">
        <br>
        <br>
	<label for="functionality">Functionality:</label>
	<input type="text" id="functionality" name="functionality" placeholder="Functionality">
       <br>
       <br>
	<input type="submit" value="Save">
	</form>
</p>
