<!DOCTYPE html>
<html>
  <head>
    <title>DevPro_Project_Finder<title>
  </head>
  
 <body>
    <h3>Log in to your account<h3>
      <div class="container">
      <br>
      <form method="POST" action="/login">
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" placeholder="Username">
      <br>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Log In">
      </form>
      <br>
      <br>
      <p>Don't have an account? <a href="/Signup" here to create a new one></a></p>
      </div>
  </body>
</html>