<!DOCTYPE html>
<html>
  <head>
    <title>DevPro_Project_Finder<title>
  </head>
  <body>
    <h3>Don't have an account yet?</h3>
    <h4>We got you in a minute!</h4>
    <h4>Sign Up to create an account below :</h4>
    <br>
    <br>
    <div>
      <form action="/signup" method="POST">
        
    <label for= "first_name"> First Name:</label>
    <p> First Name: <input type="text" name="first_name" id="first_name"></p>
    <br>
    <label for="last_name"> Last Name:</label> 
    <p> Last Name:<input type="text" name="last_name" id="last_name"></p>
    <br>
    <label for="username">Username:</label>
    <p>Username: <input type="text" name="username" id="username"></p>
    <br>
    <label for="password">Password:</label>
    <p>Password: <input type="text" name="password" id="password"></p>
    <br>
    
    
        
      </form>
    </div>
  </body>
</html>