
    <h3>DevPro_Project_Finder<h3>
  
    <h3>Don't have an account yet?</h3>
    <h4>We got you in a minute!</h4>
    <h4>Sign Up to create an account below :</h4>
    <br>
    <div>
      <form action="/signup" method="POST">
        
        <label for="first_name">First Name:</label>
         <input type="text" name="first_name" id="first_name" placeholder="first name">
        <br>
        <br>
        <label for="last name"> Last Name:</label> 
        <input type="text" name="last_name" id="last_name" placeholder="last name">
        <br>
        <br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="username">
        <br>
        <br>
        <label for="email">  Email:</label>
        <input type="text" name="email" id="email" placeholder="email">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="password">
        <br>
        <br>
         <input type="submit"value="Sign Up">
      </form>
    