<div class="container">
  
  <%#<header><img src="images/corneal-small.png" class="img-responsive main-image"></header>%>
  <div class="col-md-8 col-md-offset-2">
    
    <center><h2>Welcome to DevPro-Project-Finder<br>
    We feature Software Engineers expertise and 
helps expand their careers </h2></center>
<br>
    <div class="content">
  <center><p>The Hiring Tool That Professional Recruiters Rely On.<br> 
   Post your projects Today and  land to your dreaming Tech job Tomorrow!</p>
    </div> 
    <br></br>
    <br></br>
    <ol>
      <li>Already have an account? Log in to get started!</li>
      <li><a href= "/login">Log in</a></li>
      <li>or signup to create one :</li>
      <li><a href="/signup">Sign up</a></li>
    </ol>
    </div>
  </div> 

  